/* fore card  */

.foreCard-wrap {
    width: 80%;
    margin: 0 auto;
}

.contents {
    background-color: antiquewhite;
    width: 49%;
    float: left;
    margin: 0.5%;
    padding: 1.8%;
}

.contents h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 800;
}

/* tittle-contents */

.tittle-wrap {
    margin-bottom: 1rem;
}